<div id="cards" ng-init="arena=9">
  <div id="cardFilter" >
    <div>
      <div>
        <label for="search"><img src="../content/images/search.svg" /></label>
        <input type="text" placeholder="search" ng-model="myFilter" />
      </div>
      <div>
        <p>Sort by : </p>
        <button ng-click="myOrder = 'elixir'" >Elixir</button>
        <button ng-click="myOrder = 'name'" >Name</button>
      </div>
      <div>
        <input type="checkbox" ng-click="typeFilter[0] = (typeFilter[0] == 'troop') ? 'zz' : 'troop'" value="Troop" id="troop" checked/><label for="troop"><img src="../content/images/troop.svg" /></label>
        <input type="checkbox" ng-click="typeFilter[1] = (typeFilter[1] == 'spell') ? 'zz' : 'spell'" value="Spell" id="spell" checked/><label for="spell"><img src="../content/images/spell.svg" /></label>
        <input type="checkbox" ng-click="typeFilter[2] = (typeFilter[2] == 'building') ? 'zz' : 'building'" value="Building" id="building" checked/><label for="building"><img src="../content/images/building.svg" /></label>
      </div>
      <div>
        <input type="range" min=0 max=9 ng-model="arena"/>
        <p>{{arenaName[arena]}}</p>
      </div>
    </div>

  </div>

  <ul>

    <li ng-repeat="card in cards | orderBy: myOrder | filter: myFilter" ng-show="showCard(card)">
      <div>
        <img ng-src="{{card.thumb}}" />
        <p>{{card.elixir}}</p>
      </div>
      <h3>{{card.name}}</h3>



    </li>
  </ul>
</div>
