<div id="contact">
    <h2>Contact</h2>
    <hr />
    <ul id="contact-info">
        <li><img src="content/images/businessman.svg" />Albert Oudompheng</li>
        <li><img src="content/images/call-answer.svg" />06 50 52 15 36</li>
        <li><a href="mailto:tossanmusic@gmail.com"><img src="content/images/email.svg" />Tossanmusic@gmail.com</a></li>
        <li><img src="content/images/location-pin.svg" />1 place Salomon Mahlangu</li>
        <li>78280 Guyancourt</li>

    </ul>
    <ul id="social">
        <li><a href="https://www.facebook.com/iamtossan"><img src="content/images/facebook.svg" /></a></li>
        <li><a href="https://www.linkedin.com/in/albert-oudompheng-b39497127"><img src="content/images/linkedin.svg" /></a></li>
        <li><a href="https://twitter.com/tossanmusic"><img src="content/images/twitter.svg" /></a></li>

    </ul>
    <a href="http://www.albertoudompheng.byethost8.com">Mon site perso</a>
</div>
