<div id="home">
  <!--<img src="content\images\background.jpg" />-->
  <picture>
    <source srcset="content\images\background-small.jpg" media="(max-width: 500px)" />
    <source srcset="content\images\background-medium.jpg" media="(max-width: 1000px)" />
    <img srcset="content\images\background.JPG" alt="clash royale background image" />
  </picture>
  <img src="content\images\logo.png" />
  <h1>Bienvenue sur Clash Royale Deck Manager</h1>
  <p>Ce site est une démonstration d'AngularJS 1 !</p>
</div>
