@import "mixins";

@font-face {
  font-family: clash;
  /*src: url("clash.woff");
  src: url("clash.ttf");*/

  src: url('clash.woff') format('woff'),
       url('clash.ttf')  format('truetype');
}

$blue : #0f378d;
$large : 800px;
$medium: 660px;
$small: 520px;

body {
  font-family: "trebuchet ms";
  font-weight: bold;
  color: $blue;
  margin: 0;
  background-color: #abd3ff;
}

#wrapper {
  width: 100%;

  margin: 0 auto;
  background-color: #fff;
}



/*******  HEADER *********/


header {
  padding: 10px;
  a:first-of-type{
    float: left;
  }
  h1 {
    margin-left: 180px;
    font-family: "verdana bold";
    color: #0a2a6f;
    letter-spacing: 3px;
    font-size: 2.5em;
  }
  ul {
      clear: left;
      list-style-type: none;
      text-align: right;
      margin-right: 10px;
      margin-bottom: 20px;
  }
  li {
    display: inline-block;
    margin-left: 20px;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: $blue;
    &:focus {
      outline: none;
    }
  }
  li a:hover {
    border: 2px solid $blue;
  }

  @include mQ($large) {
    h1 {
      font-size: 1.75em;
      margin-top: 30px;
    }
    img {
      width: 90%;
    }
    ul {
        margin-bottom: 15px;
    }
    li {
      margin-left: 10px;
      font-size: 0.8em;
    }
    hr {
      margin: 6px auto;
    }
  }

  @include mQ($medium) {
    padding-bottom: 5px;
    h1 {
      font-size: 1.3em;
      margin-left: 160px;
      letter-spacing: 2px;
    }
    ul {
        margin-bottom: 10px;
    }
    li {
      margin-left: 8px;
      font-size: 0.6em;
    }
    img {
      width: 70%;
    }
    hr {
      margin: 5px auto;
    }
  }
  @include mQ($small) {
    padding-bottom: 0px;
    & > a {
      width: 65px;
    }
    img {
      width: 60%;
    }
    h1 {
      font-size: 0.7em;
      margin-left: 0;
      letter-spacing: 1px;
    }
    ul {

      margin: 3px auto;
      padding-left: 0;
    }
    li {
      margin-left: 0px;
      font-size: 0.3em;
    }
    li a {
      padding: 2px;
    }
    hr {
      margin: 4px auto;
    }
  }
}

/********* FOOTER **********/

footer {
  padding: 10px;
  p {
    width: 70%;
    text-align: center;
    margin: 20px auto;
    color: $blue;
    font-family: clash;
    font-size: 0.8em;
  }

  @include mQ($large) {
    p {
      font-size: 0.6em;
      width: 80%;
    }
  }

  @include mQ($medium) {
    p {
      font-size: 0.4em;
    }
  }

  @include mQ($small) {
    p {
      font-size: 0.3em;
    }
  }
}

/********** HOME ************/

#home {
  position: relative;
  font-family: "verdana bold";
  img {
    width: 100%;
    &:nth-child(2) {
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 1.8em;
    color: #031334;
  }
  p {
    position: absolute;
    top: 65%;
    left: 40%;
    font-size: 1.25em;
    color: #031334;
  }

  @include mQ($large){
    h1 {
      font-size: 1.5em;
    }
    p {
      font-size: 0.9em;
    }
  }

  @include mQ($medium){
    h1 {
      font-size: 1.2em;
    }
    p {
      font-size: 0.7em;
    }
  }

  @include mQ($small){
    h1 {
      font-size: 0.7em;
    }
    p {
      font-size: 0.5em;
      top: 60%;
    }
  }
}

/********** CARDS **********/

#cards {
  width: 100%;
}

#cards ul{
  padding: 10px;
  margin: 0 auto;

  li {
    display: inline-block;
    width: 12.5%;
    text-align: center;
    position: relative;
    margin: 10px auto 20px;
  }
  li div {
    position: relative;
    width: 90px;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
  p {
    font-family: clash;
    position: absolute;
    margin: 0;
    top: 11px;
    left: 16%;
    font-size: 10px;
    color: #fff;
    text-shadow: #000 -1px 0px, #000 0px 1px, #000 1px 0px, #000 0px -1px, 0px 4px #952DAC;
  }
  h3 {
    font-family: verdana;
    margin: 0 auto;
    font-size: 0.7em;

    display: block;
    width: 100%;
    height: 25px;
    position: absolute;
  }

  @include mQ($large){
    h3 {
      font-size: 0.6em;
    }
    li {
      width: (100%/6);
    }
    p {
      font-size: 9px;
    }
  }

  @include mQ($medium){
    padding-top: 0;
    li {
      width: (100%/5);
      margin: 5px auto 15px;
    }
    h3 {
      font-size: 0.5em;
    }
    li div {
      width: 80px;
    }
    p {
      font-size: 8px;
    }
  }

  @include mQ($small){
    li {
      width: 25%;
      margin: 5px auto 10px;
    }
    h3 {
      top: 70px;
    }
    li div {
      width: 60px;
    }
    p {
      font-size: 4px;
      top: 8px;
      @include chrome {
        font-size: 8px;
      }
    }
  }
}

/********** CARD FILTERS ********/

#cardFilter {
  margin: 10px auto 0;
  &.fixIt {
    margin: 0 auto;
    position: fixed;
    top: 5px;

    z-index: 1;
    width: 100%;
  }
  &> div {
    max-width: 100%;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: $large - 17.5;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mQ($large) {
      width: $medium - 17.5;
    }
    @include mQ($medium) {
      width: $small - 17.5;
    }
    @include mQ($small) {
      width: 300px;
      padding: 4px;
    }
  }
}



#cardFilter div{
  div:nth-child(1){
    display: inline-block;
    width: 150px;
    padding: 5px;
    position: relative;
    }
  div:nth-child(2){
    display: inline-block;
    width: 180px;
  }
  div:nth-child(3){
    display: inline-block;
    width: 130px;
    position: relative;
    padding-top: 5px;
    padding-left: 2.5%;
  }
  div:nth-child(4){
    width: 265px;
    position: relative;
  }
  img {
    height: 20px;
    width: 20px;
    padding-bottom: 2px;
  }
  div{
    input[type="text"] {
      border: 0;
      width: 125px;
      margin-left: 25px;
      border-bottom: 1px solid $blue;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
      &:focus {
        outline: none;
      }
    }
    img[src$="search.svg"] {
      position: absolute;
      left: 0;
      top: 17.5%;
    }
    p:first-child {
      display: inline-block;
      font-size: 0.85em;
    }
    button {
      margin-left: 3px;
      font-family: "trebuchet ms";
      color: $blue;
      border-radius: 4px;
      border: 1px solid #ccc;
      &:focus {
        outline: none;
      }
      &:hover {
        border: 1px solid $blue;
      }
    }
    button::-moz-focus-inner {
      border: 0;
    }
    input[type="checkbox"]{
      display: none;

    }
    img[src$='troop.svg'], img[src$='spell.svg'], img[src$='building.svg']{
      border-bottom: 2px solid #eee;
      &:hover{
        border-bottom: 2px solid red;
      }
    }
    img[src$='no.svg']{
      position: absolute;
      z-index: 1;

      &:hover{
        border-bottom: 2px solid green;
      }
    }
    @import "range";
    input[type="range"] {
      display: inline-block;
      width: 150px;
      margin: 0;
    }
    p:last-child {
      font-size: 0.7em;
      position: absolute;
      top: -5px;
      left: 155px;
      display: inline-block;
    }
  }

  @include mQ($large) {

    img {
      height: 15px;
      width: 15px;
    }
    div:nth-child(1){
      width: 150px;
      padding: 5px;
    }
    div:nth-child(2){
      width: 180px;
    }
    div:nth-child(3){

      width: 130px;

    }
    div {
      img[src$="search.svg"] {
        top: 25%;
      }
      input[type="text"] {
        width: 115px;
        margin-left: 20px;
      }
      p:first-child{
        font-size: 0.6em;
      }
      button {
        margin-left: 2px;
        border-radius: 4px;
        font-size: 0.6em;
      }

      input[type="range"]{
        width: 100px;
      }
      p:last-child{
        font-size: 0.7em;
        top: -5px;
        left: 104px;
      }
    }

  }
  @include mQ($medium) {

    img {
      height: 10px;
      width: 10px;
    }
    div:nth-child(1){
      width: 120px;
      padding: 5px;
    }
    div:nth-child(2){
      width: 180px;
    }
    div:nth-child(3){
      width: 110px;
    }

    div {

      input[type="text"] {
        width: 100px;
        margin-left: 10px;
      }
      img[src$="search.svg"] {
        top: 37.5%;
      }
      p:first-child {
        font-size: 0.5em;
      }
      button {
        margin-left: 2px;
        border-radius: 4px;
        font-size: 0.5em;
        padding: 1px 3px;
      }
      img[src$='no.svg']{
        top: 6px;
      }
      input[type="range"] {
        width: 80px;
      }
      p:last-child {
        font-size: 0.5em;
        top: 0px;
        left: 83px;
      }
    }
  }
  @include mQ($small) {

    img {
      height: 7.5px;
      width: 7.5px;
    }
    div:nth-child(1){
      width: 60px;
      padding: 3px;

    }
    div:nth-child(2){
      width: 160px;
      margin-left: 25px;

    }
    div:nth-child(3){
      width: 90px;
    }
    div:nth-child(4){
      width: 120px;
      position: relative;
      height: 100%;

    }
    div {

      input[type="text"] {
        width: 45px;
        margin-left: 7px;
        font-size: 0.4em;
        position: absolute;
        top: -50%;
      }
      img[src$="search.svg"] {
        top: -30%;
      }

      button {

        margin-left: 1px;
        border-radius: 3px;
        font-size: 0.3em;
        padding: 1px 3px;


      }
      img[src$='troop.svg'], img[src$='spell.svg'], img[src$='building.svg']{
        border-bottom: none;
        &:hover{
          border-bottom: none;
        }
      }
      img[src$="no.svg"]{
        top: 11px;
        &:hover{
          border-bottom: none;
        }
      }
      input[type="range"] {
        width: 50px;
        position: absolute;
        top: -4px;
      }

      p:last-child {
        font-size: 0.3em;
        position: absolute;
        top: -15px;
        left: 0;

      }
    }
  }
}

/*********** CONTACT ********/

#contact {
  width: 60%;
  margin: 0 auto;
  background-color: #4065b5;
  padding: 20px;
  border-radius: 20px;
  h2 {
    margin-left: 50px;
    display:block;
    width: 80%;
    border-bottom: 1px solid #000;
  }
  img {
    height: 20px;
    width: 20px;
  }
  #contact-info {
    list-style-type: none;
    margin-left: 10%;
    img {
      position: relative;
      left: -10px;
      top: 3px;
    }
    li:last-child {
      position: relative;
      left: 20px;
      top: 3px;
    }
  }
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }
  &> a {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    display: block;
    &:hover {
      background-color: #000;
      color: #fff;
      text-decoration: none;
    }
  }
  @include mQ($large) {
    width: 80%;
    padding: 15px;
    border-radius: 15px;
    font-size: 0.8em;
  }
  @include mQ($medium){
    padding: 10px;
    font-size: 0.65em;
    h2 {
      width: 75%;
    }
    img {
      height: 15px;
      width: 15px;
    }
    #contact-info li:last-child {
      left: 15px;
    }
    &> a {
      width: 120px;
      padding: 10px;
      border: 1px solid #000;
    }
  }
  @include mQ($small){
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.5em;
    img {
      height: 10px;
      width: 10px;
    }
    #contact-info li:last-child {
      left: 10px;
    }
    &> a {
      width: 100px;
      padding: 5px;
    }
  }
}

/********** DECK CREATOR *****/

#cardFilter div:nth-child(2){
  display: block;
}

#cardFilter #creator {
  width: 100%;
  height: 151px;
  form{
    input:first-of-type{
      height: 15px;
      width: 200px;
      margin: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 3px;
      &.ng-touched.ng-invalid{
        border-bottom-color: red;
      }
    }
    p{
      display: inline-block;
    }
    input:last-of-type{
      box-sizing: content-box;
      height: 16px;
      padding: 4px;
      margin: 10px;
      width: 40px;
      border-radius: 4px;
      border: 1px solid green;
      float: right;
      font-family: "trebuchet ms";
      font-weight: bold;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:hover{
        border-color: $blue;
      }
      &[disabled="disabled"]{
        border-color: red;
        &:hover{
          border-color: red;
        }
      }
    }
  }
  ul{
    margin: 0;
    list-style-type: none;
    li{
      display: block;
      width: 80px;
      height: inherit;
      float: left;
      position: relative;
      img{
        position: inherit;
        width: 100%;
        height: 100%;
      }
      p {
        font-family: clash;
        position: absolute;
        margin: 0;
        top: 11px;
        left: 15%;
        font-size: 9px;
        color: #fff;
        text-shadow: #000 -1px 0px, #000 0px 1px, #000 1px 0px, #000 0px -1px, 0px 4px #952DAC;
      }
    }
  }
  @include mQ($large){
    height: 116px;
    form {
      font-size: 0.8em;
      input:last-of-type{
        font-size: 0.8em;
      }
    }
    ul{
      padding-left: 30px;
      li{
        width: 60px;
        p{
          top: 8px;
          font-size: 7px;
        }
      }
    }
  }
  @include mQ($medium){
    height: 94px;
    form {
      font-size: 0.6em;
      input:first-of-type{
        width: 120px;
      }
      input:last-of-type{
        font-size: 0.7em;
        padding: 0;
      }
    }
    ul{
      padding-left: 20px;
      li{
        width: 45px;
        p{
          top: 6px;
          font-size: 5px;
          text-shadow: #000 -1px 0px, #000 0px 1px, #000 1px 0px, #000 0px -1px;
        }
      }
    }
  }
  @include mQ($small){
    height: 67px;
    padding: 0;
    form {
      font-size: 0.4em;
      input:first-of-type{
        width: 80px;
        height: 12px;
        margin: 5px;
        position: inherit;
      }
      input:last-of-type{
        height: 10px;
        margin: 5px;
        width: 25px;
        border-radius: 4px;
        position: inherit;
        font-size: 0.5em;
      }
    }
    ul{
      padding-left: 5px;
      li{
        width: 30px;
        p{
          top: 4px;
          font-size: 3px;
        }
      }
    }
  }
}

/********* DECK MANAGER  ********/

#deck-manager {
  padding: 20px;
  &> ul {
    list-style-type: none;
    padding: 0;
  }
  ul li.deck {
    padding: 10px;
    background-color: #eee;
    margin: 10px auto;
    border-radius: 20px;
    border: 1px solid #ddd;
  }
  h3 {
    margin-left: 40px;
    font-weight: bold;
    margin-left: 10%;
    font-family: verdana;
    color: #0f378d;
    img {
      height: 3%;
      width: 3%;
      cursor: pointer;
      float: right;
      display: inline-block;
      margin-right: 2%;
      position: relative;
      top: 4px;
    }
  }
  ul li ul {
    list-style-type: none;
    width: 800px;
    display: block;
    margin: 0 auto;
    @include clearFix;
    li {
      float: left;
      width: 80px;
      position: relative;
      p {
        font-family: clash;
        position: absolute;
        margin: 0;
        top: 11px;
        left: 15%;
        font-size: 9px;
        color: #fff;
        text-shadow: #000 -1px 0px, #000 0px 1px, #000 1px 0px, #000 0px -1px, 0px 4px #952DAC;
      }
    }
  }
  img {
    height: 100%;
    width: 100%;
  }
  @include mQ($large){
    &> ul {
      padding: 0;
    }
    h3 {
      font-size: 1em;
    }
    ul li.deck{
      padding: 10px;
    }
    ul li ul{
      width: 570px;
      li{
        width: 60px;
        p {

          top: 8px;
          left: 15%;
          font-size: 7px;

          text-shadow: #000 -1px 0px, #000 0px 1px, #000 1px 0px, #000 0px -1px, 0px 4px #952DAC;
        }
      }

    }
  }
  @include mQ($medium){

    padding: 5px;
    margin: 0 auto;
    &> ul {
      padding: 0;
    }
    h3{
      font-size: 0.8em;
    }
    ul li.deck {
      padding: 7.5px;

      margin: 7.5px auto;
      ul{
        width: 440px;
        li{
          width: 55px;
          p {

            top: 6px;
            left: 15%;
            font-size: 6px;

            text-shadow: #000 -1px 0px, #000 0px 1px, #000 1px 0px, #000 0px -1px;
          }
        }

      }
    }

  }
  @include mQ($small){
    h3{
      font-size: 0.6em;
      img {
        height: 4%;
        width: 4%;
      }
    }
    &> ul {
      padding: 0;
    }
    ul li.deck {
      padding: 5px;

      margin: 5px auto;
      ul{
        width: 240px;
        padding-left: 5px;
        li{
          width: 30px;
          p {
            top: 3px;
            left: 15%;
            font-size: 4px;
          }
        }

      }
    }
    &> ul {
      margin: 5px auto;

    }
    #deck-manager > ul {
      padding: 5px;
    }
  }
}

/*********** ANIMATIONS ********/

main.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

main.ng-enter.ng-enter-active {
  opacity: 1;
}

/** creation de deck > cartes **/

#creator li.ng-enter {
  transition: 0.2s linear all;
  opacity: 0;
  transform: translateY(30px);
}

#creator li.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

#creator li.ng-leave {
  transition: 0.2s linear all;
  opacity: 1;
  transform: translateY(0);
}

#creator li.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateY(30px);
}

/** animation hover **/

#creator li:hover{
  transition: 0.2s linear all;
  transform: translateY(3px);
}

/** deck manager delete animation **/

#deck-manager li.deck.ng-leave {
  transition: 0.2s linear all;
  opacity: 1;
  transform: translateX(0);
}

#deck-manager li.deck.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateX(40px);
}

/** cards animation hover **/

#deck-creator #cards li:hover{
  transition: 0.2s linear all;
  transform: translateY(-3px);
}
