@import "mixins";

@import "styles";

/********** CARD FILTERS ********/



#cardFilter div{
  div{
    button::-moz-focus-inner {
      border: 0;
    }
    @import "range";
  }

  @include mQ($small) {
    div:nth-child(4){

      height: 25px;

    }
    
  }
}
