@import "mixins";

@import "styles";


/********** CARD FILTERS ********/

#cardFilter div{
  div:nth-child(4){
    height: 30px;
  }
  div{
    @import "range";
    input[type="range"] {
      top: -75%;
      position: absolute;
    }
    p:last-child {
      top: 0%;
    }
  }

  @include mQ($large) {
    div {
      input[type="range"] {
        top: -75%;
        position: absolute;
      }

      p:last-child{
        top: 0%;
      }
    }

  }


}
