@font-face {
  font-family: clash;
  src: url("clash.svg");
  src: url("clash.ttf");
}

body {
  font-family: "trebuchet ms";
  font-weight: bold;
  color: #0f378d;
  margin: 0;
  background-color: #abd3ff;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

/*******  HEADER *********/
header {
  padding: 10px;
}

header a:first-of-type {
  float: left;
}

header h1 {
  margin-left: 180px;
  font-family: "verdana bold";
  color: #0a2a6f;
  letter-spacing: 3px;
  font-size: 2.5em;
}

header ul {
  clear: left;
  list-style-type: none;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 20px;
}

header li {
  display: inline-block;
  margin-left: 20px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #0f378d;
}

header li a:hover {
  border: 2px solid #0f378d;
}

@media screen and (max-width: 800px) {
  header h1 {
    font-size: 1.75em;
    margin-top: 30px;
  }
  header img {
    width: 90%;
  }
  header ul {
    margin-bottom: 15px;
  }
  header li {
    margin-left: 10px;
    font-size: 0.8em;
  }
  header hr {
    margin: 6px auto;
  }
}

@media screen and (max-width: 660px) {
  header {
    padding-bottom: 5px;
  }
  header h1 {
    font-size: 1.3em;
    margin-left: 160px;
    letter-spacing: 2px;
  }
  header ul {
    margin-bottom: 10px;
  }
  header li {
    margin-left: 8px;
    font-size: 0.6em;
  }
  header img {
    width: 70%;
  }
  header hr {
    margin: 5px auto;
  }
}

@media screen and (max-width: 520px) {
  header {
    padding-bottom: 0px;
  }
  header > a {
    width: 65px;
  }
  header img {
    width: 60%;
  }
  header h1 {
    font-size: 0.7em;
    margin-left: 0;
    letter-spacing: 1px;
  }
  header ul {
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
  }
  header li {
    margin-left: 0px;
    font-size: 0.3em;
  }
  header li a {
    padding: 2px;
  }
  header hr {
    margin: 4px auto;
  }
}

/********* FOOTER **********/
footer {
  padding: 10px;
}

footer p {
  width: 70%;
  text-align: center;
  margin: 20px auto;
  color: #0f378d;
  font-family: clash;
}

@media screen and (max-width: 800px) {
  footer p {
    font-size: 0.8em;
    width: 80%;
  }
}

@media screen and (max-width: 660px) {
  footer p {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 520px) {
  footer p {
    font-size: 0.4em;
  }
}

/********** HOME ************/
#home {
  position: relative;
  font-family: "verdana bold";
}

#home img {
  width: 100%;
}

#home img:nth-child(2) {
  position: absolute;
  top: 10px;
}

#home h1 {
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: 1.8em;
  color: #031334;
}

#home p {
  position: absolute;
  top: 65%;
  left: 40%;
  font-size: 1.25em;
  color: #031334;
}

@media screen and (max-width: 800px) {
  #home h1 {
    font-size: 1.5em;
  }
  #home p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 660px) {
  #home h1 {
    font-size: 1.2em;
  }
  #home p {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 520px) {
  #home h1 {
    font-size: 0.7em;
  }
  #home p {
    font-size: 0.5em;
    top: 60%;
  }
}

/********** CARDS **********/
#cards ul {
  padding: 10px;
  margin: 0 auto;
}

#cards ul li {
  display: inline-block;
  width: 12.5%;
  text-align: center;
  position: relative;
  margin: 10px auto 20px;
}

#cards ul li div {
  position: relative;
  width: 90px;
  margin: 0 auto;
}

#cards ul img {
  width: 100%;
}

#cards ul p {
  font-family: clash;
  position: absolute;
  margin: 0;
  top: 11px;
  left: 16%;
  font-size: 10px;
  color: #fff;
  text-shadow: #000 -1px 0px, #000 0px 1px, #000 1px 0px, #000 0px -1px, 0px 4px #952DAC;
}

#cards ul h3 {
  font-family: verdana;
  margin: 0 auto;
  font-size: 0.7em;
  display: block;
  width: 100%;
  height: 25px;
  position: absolute;
}

@media screen and (max-width: 800px) {
  #cards ul h3 {
    font-size: 0.6em;
  }
  #cards ul li {
    width: 16.66667%;
  }
  #cards ul p {
    font-size: 9px;
  }
}

@media screen and (max-width: 660px) {
  #cards ul li {
    width: 20%;
    margin: 5px auto 15px;
  }
  #cards ul h3 {
    font-size: 0.5em;
  }
  #cards ul li div {
    width: 80px;
  }
  #cards ul p {
    font-size: 8px;
  }
}

@media screen and (max-width: 520px) {
  #cards ul li {
    width: 25%;
    margin: 5px auto 10px;
  }
  #cards ul h3 {
    top: 70px;
  }
  #cards ul li div {
    width: 60px;
  }
  #cards ul p {
    font-size: 5px;
    top: 9px;
  }
}

/********** CARD FILTERS ********/
#cardFilter {
  height: 40px;
  margin: 0 auto;
}

#cardFilter.fixIt {
  position: fixed;
  top: 5px;
  z-index: 1;
  width: 100%;
}

#cardFilter > div {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 782.5px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cardFilter > div div:nth-child(1) {
  display: inline-block;
  width: 150px;
  padding: 5px;
  position: relative;
}

#cardFilter > div div:nth-child(1) input {
  border: 0;
  width: 125px;
  margin-left: 25px;
  border-bottom: 1px solid #0f378d;
}

#cardFilter > div div:nth-child(1) input:focus {
  outline: none;
}

#cardFilter > div div:nth-child(1) img {
  position: absolute;
  left: 0;
  top: 10%;
}

#cardFilter > div div:nth-child(2) {
  display: inline-block;
  width: 180px;
}

#cardFilter > div div:nth-child(2) p {
  display: inline-block;
}

#cardFilter > div div:nth-child(2) button {
  margin-left: 4px;
  font-family: "trebuchet ms";
  color: #0f378d;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#cardFilter > div div:nth-child(2) button:focus {
  outline: none;
}

#cardFilter > div div:nth-child(2) button:hover {
  border: 1px solid #0f378d;
}

#cardFilter > div div:nth-child(3) {
  display: inline-block;
  width: 150px;
}

#cardFilter > div div:nth-child(4) {
  width: 250px;
  position: relative;
}

#cardFilter > div div:nth-child(4) input {
  display: inline-block;
  width: 150px;
  margin: 0;
}

#cardFilter > div div:nth-child(4) p {
  font-size: 0.7em;
  position: absolute;
  top: -5px;
  left: 155px;
  display: inline-block;
}

#cardFilter > div div:nth-child(4) input[type=range] {
  -webkit-appearance: none;
  margin: 9px 0;
}

#cardFilter > div div:nth-child(4) input[type=range]:focus {
  outline: none;
}

#cardFilter > div div:nth-child(4) input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #0f378d;
  border-radius: 25px;
  border: 1px solid #000000;
}

#cardFilter > div div:nth-child(4) input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #0f378d;
  height: 26px;
  width: 16px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

#cardFilter > div div:nth-child(4) input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1449bb;
}

#cardFilter > div div:nth-child(4) input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #0f378d;
  border-radius: 25px;
  border: 1px solid #000000;
}

#cardFilter > div div:nth-child(4) input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #0f378d;
  height: 26px;
  width: 16px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
}

#cardFilter > div div:nth-child(4) input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#cardFilter > div div:nth-child(4) input[type=range]::-ms-fill-lower {
  background: #0a255f;
  border: 1px solid #000000;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#cardFilter > div div:nth-child(4) input[type=range]::-ms-fill-upper {
  background: #0f378d;
  border: 1px solid #000000;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#cardFilter > div div:nth-child(4) input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #0f378d;
  height: 26px;
  width: 16px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
  height: 8px;
}

#cardFilter > div div:nth-child(4) input[type=range]:focus::-ms-fill-lower {
  background: #0f378d;
}

#cardFilter > div div:nth-child(4) input[type=range]:focus::-ms-fill-upper {
  background: #1449bb;
}

#cardFilter > div img {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 800px) {
  #cardFilter > div {
    width: 642.5px;
  }
  #cardFilter > div img {
    height: 15px;
    width: 15px;
  }
  #cardFilter > div div:nth-child(1) {
    width: 150px;
    padding: 5px;
  }
  #cardFilter > div div:nth-child(1) input {
    width: 115px;
    margin-left: 20px;
  }
  #cardFilter > div div:nth-child(2) {
    width: 180px;
  }
  #cardFilter > div div:nth-child(2) p {
    font-size: 0.7em;
  }
  #cardFilter > div div:nth-child(2) button {
    margin-left: 2px;
    border-radius: 4px;
    font-size: 0.7em;
  }
  #cardFilter > div div:nth-child(4) input {
    width: 100px;
  }
  #cardFilter > div div:nth-child(4) p {
    font-size: 0.7em;
    top: -5px;
    left: 104px;
  }
  #cardFilter > div div:nth-child(4) input[type=range] {
    -webkit-appearance: none;
    margin: 8.4px 0;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus {
    outline: none;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #0f378d;
    border-radius: 25px;
    border: 1px solid #000000;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #0f378d;
    height: 23px;
    width: 12px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.4px;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0f378d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #0f378d;
    border-radius: 25px;
    border: 1px solid #000000;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #0f378d;
    height: 23px;
    width: 12px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-track {
    width: 100%;
    height: 6.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-fill-lower {
    background: #0f378d;
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-fill-upper {
    background: #0f378d;
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #0f378d;
    height: 23px;
    width: 12px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    height: 6.2px;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus::-ms-fill-lower {
    background: #0f378d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus::-ms-fill-upper {
    background: #0f378d;
  }
}

@media screen and (max-width: 660px) {
  #cardFilter > div {
    width: 500px;
  }
  #cardFilter > div img {
    height: 10px;
    width: 10px;
  }
  #cardFilter > div div:nth-child(1) {
    width: 120px;
    padding: 5px;
  }
  #cardFilter > div div:nth-child(1) input {
    width: 100px;
    margin-left: 10px;
  }
  #cardFilter > div div:nth-child(1) img {
    top: 37.5%;
  }
  #cardFilter > div div:nth-child(2) {
    width: 180px;
  }
  #cardFilter > div div:nth-child(2) p {
    font-size: 0.5em;
  }
  #cardFilter > div div:nth-child(2) button {
    margin-left: 2px;
    border-radius: 4px;
    font-size: 0.5em;
    padding: 1px 4px;
  }
  #cardFilter > div div:nth-child(3) input {
    height: 10px;
    width: 10px;
    margin: 2px 2px;
  }
  #cardFilter > div div:nth-child(4) input {
    width: 80px;
  }
  #cardFilter > div div:nth-child(4) p {
    font-size: 0.5em;
    top: 0px;
    left: 83px;
  }
  #cardFilter > div div:nth-child(4) input[type=range] {
    -webkit-appearance: none;
    margin: 6.5px 0;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus {
    outline: none;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #0f378d;
    border-radius: 25px;
    border: 1px solid #000000;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #0f378d;
    height: 17px;
    width: 9px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0f378d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #0f378d;
    border-radius: 25px;
    border: 1px solid #000000;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #0f378d;
    height: 17px;
    width: 9px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-fill-lower {
    background: #0f378d;
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-fill-upper {
    background: #0f378d;
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #0f378d;
    height: 17px;
    width: 9px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    height: 4px;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus::-ms-fill-lower {
    background: #0f378d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus::-ms-fill-upper {
    background: #0f378d;
  }
}

@media screen and (max-width: 520px) {
  #cardFilter > div {
    width: 300px;
    padding: 4px;
  }
  #cardFilter > div img {
    height: 7.5px;
    width: 7.5px;
  }
  #cardFilter > div div:nth-child(1) {
    width: 60px;
    padding: 3px;
  }
  #cardFilter > div div:nth-child(1) input {
    width: 45px;
    margin-left: 7px;
    font-size: 0.4em;
    position: absolute;
    top: -50%;
  }
  #cardFilter > div div:nth-child(1) img {
    top: -30%;
  }
  #cardFilter > div div:nth-child(2) {
    width: 160px;
    margin-left: 25px;
  }
  #cardFilter > div div:nth-child(2) p {
    font-size: 0.2em;
  }
  #cardFilter > div div:nth-child(2) button {
    margin-left: 1px;
    border-radius: 3px;
    font-size: 0.3em;
    padding: 1px 3px;
  }
  #cardFilter > div div:nth-child(3) input {
    height: 7.5px;
    width: 7.5px;
    margin: 2px 2px;
  }
  #cardFilter > div div:nth-child(4) {
    width: 120px;
  }
  #cardFilter > div div:nth-child(4) input {
    width: 50px;
  }
  #cardFilter > div div:nth-child(4) p {
    font-size: 0.3em;
    top: -6px;
    left: 5px;
  }
  #cardFilter > div div:nth-child(4) input[type=range] {
    -webkit-appearance: none;
    margin: 4px 0;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus {
    outline: none;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #0f378d;
    border-radius: 25px;
    border: 0px solid #000000;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #0f378d;
    height: 10px;
    width: 4px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0f378d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #0f378d;
    border-radius: 25px;
    border: 0px solid #000000;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #0f378d;
    height: 10px;
    width: 4px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-fill-lower {
    background: #0f378d;
    border: 0px solid #000000;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-fill-upper {
    background: #0f378d;
    border: 0px solid #000000;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #0f378d;
    height: 10px;
    width: 4px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    height: 2px;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus::-ms-fill-lower {
    background: #0f378d;
  }
  #cardFilter > div div:nth-child(4) input[type=range]:focus::-ms-fill-upper {
    background: #0f378d;
  }
}
